.cajon.color-primario
  background-color: rgba(115, 216, 192, 0.25)
.cajon.color-acento-botones
  background-color: rgba(245, 148, 122, 0.25)
.cajon.color-acento-contenido
  background-color: rgba(186, 239, 228, 0.25)
.cajon.color-verde-claro
  background-color: rgba(186,239,228, 0.25)
.caja-color-amarillo-claro
  background-color: #FFFCEF
.caja-color-naranja-claro
  background-color: #FFEFDD
.caja-color-rosado-claro
  background-color: #FEEFEB
.linea-tiempo-b__icon
  > img
    max-height: 70px
.row-lineal
   border-top: 2px solid #B0C0D2
   border-bottom: 2px solid #B0C0D2
//  > .col-2
//    > img 
//   max-height: 100px
.textos-azules
  > *
    color: #111E61
.texto-imagenes
  background-color: #F5947A
  border-style: solid
  border-color: #F5947A
  > p
    text-align: center
    font-size: 13px
    font-weight: 400
.texto-imagenes-new
  background-color: #025157
  > p
    text-align: center
    font-size: 13px
    font-weight: 400
    color: white
.esquinas-redondas-colorprimario
  border-color: rgba(115, 216, 192, 0.25)
  border-radius: 50px
.icono-vineta
  list-style-image: scr('@/assets/curso/introduccion/item.png')