.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 85%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 25%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.cajon.color-primario
  background-color: rgba(115, 216, 192, 0.25)
.cajon.color-acento-botones
  background-color: rgba(245, 148, 122, 0.25)
.cajon.color-acento-contenido
  background-color: rgba(186, 239, 228, 0.25)
.cajon.color-verde-claro
  background-color: rgba(186,239,228, 0.25)
.caja-color-amarillo-claro
  background-color: #FFFCEF
.caja-color-naranja-claro
  background-color: #FFEFDD
.caja-color-rosado-claro
  background-color: #FEEFEB
.linea-tiempo-b__icon
  > img
    max-height: 70px
.row-lineal
   border-top: 2px solid #B0C0D2
   border-bottom: 2px solid #B0C0D2
//  > .col-2
//    > img 
//   max-height: 100px
.textos-azules
  > *
    color: #111E61
.texto-imagenes
  background-color: #F5947A
  border-style: solid
  border-color: #F5947A
  > p
    text-align: center
    font-size: 13px
    font-weight: 400
.texto-imagenes-new
  background-color: #025157
  > p
    text-align: center
    font-size: 13px
    font-weight: 400
    color: white
.esquinas-redondas-colorprimario
  border-color: rgba(115, 216, 192, 0.25)
  border-radius: 50px
.icono-vineta
  list-style-image: scr('@/assets/curso/introduccion/item.png')

//titulos figuras

.titulo-sexto.color-secundario 
    border-left-color: #26aab7;

.titulo-sexto
    margin-bottom: 24px
    border-left: 5px solid
    padding: 5px 0 5px 15px;

// linea de tiempo

.tarjeta.tarjeta--gris
  background: url('../assets/curso/tema1/tarjeta1/fondo-tarjeta1.png')
  background-repeat: round
  border-radius: 15px

.linea-tiempo-d__item__content.tarjeta.tarjeta--gris, .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #F5947A

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before 
    background-color:  #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:after 
    background-color: #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after 
    background-color: #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot 
    border-color: #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after 
    background-color: #F5947A

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot 
    border-color: #F5947A

.linea-tiempo-e__item__header 
  width: 15%
.linea-tiempo-e:before
  left: 15%

//tarjetas con figcaption verde

.verde
  background-color: #73D8C0
  border-bottom-color: #025157
  border-bottom: 5px solid
  text-align: center

// imagenes

.img65
  width: 65px  
.img90
  width: 90px  
.img95
  width: 95px  
.img96
  width: 96px  
.img97
  width: 97px  
.img98
  width: 98px 
.img99
  width: 99px 
.img100
  with: 100px
.img250
  width: 250px 

// hover color - gris

.tarjeta--boton.color-acento-contenido
  border-radius: 0px
  background-color: #E8E8E8
  background-image: url('../assets/curso/tema1/grupo-gris.png')
  background-repeat: round

.tarjeta--boton.color-acento-contenido:active, .tarjeta--boton.color-acento-contenido:focus, .tarjeta--boton.color-acento-contenido:hover     
  background-color: #BAEFE4
  background-image: url('../assets/curso/tema1/grupo-color.png')
  background-repeat: round

.tarjeta--boton.gastronomia
  background-image: url('../assets/curso/tema3/tarjeta/gastronomia.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.gastronomia:active, .tarjeta--boton.gastronomia:focus, .tarjeta--boton.gastronomia:hover 
  background-image: url('../assets/curso/tema3/tarjeta/gastronomia-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

.tarjeta--boton.musica
  background-image: url('../assets/curso/tema3/tarjeta/musica.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.musica:active, .tarjeta--boton.musica:focus, .tarjeta--boton.musica:hover 
  background-image: url('../assets/curso/tema3/tarjeta/musica-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

.tarjeta--boton.politica
  background-image: url('../assets/curso/tema3/tarjeta/politica.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.politica:active, .tarjeta--boton.politica:focus, .tarjeta--boton.politica:hover 
  background-image: url('../assets/curso/tema3/tarjeta/politica-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

.tarjeta--boton.conciencia
  background-image: url('../assets/curso/tema3/tarjeta/conciencia.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.conciencia:active, .tarjeta--boton.conciencia:focus, .tarjeta--boton.conciencia:hover 
  background-image: url('../assets/curso/tema3/tarjeta/conciencia-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

.tarjeta--boton.tecnologia
  background-image: url('../assets/curso/tema3/tarjeta/tecnologia.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.tecnologia:active, .tarjeta--boton.tecnologia:focus, .tarjeta--boton.tecnologia:hover 
  background-image: url('../assets/curso/tema3/tarjeta/tecnologia-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

.tarjeta--boton.estructuras
  background-image: url('../assets/curso/tema3/tarjeta/estructuras.png')
  background-color: #EEFBF8
  border-radius: 0px
  background-repeat: round

.tarjeta--boton.estructuras:active, .tarjeta--boton.estructuras:focus, .tarjeta--boton.estructuras:hover 
  background-image: url('../assets/curso/tema3/tarjeta/estructuras-c.png')
  border-radius: 0px
  background-color: #EEFBF8
  background-repeat: round

// titulos principales

.titulo-principal__numero 
  background-color: #BAEFE4 !important

// sangria viñeta

// sangría viñeta

.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

  // avatar
  
.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

//bgs

.bgverdeclaro
  background-color: #BAEFE4 !important

.bgespecial
  background-image: url('../assets/curso/tema1/fondo1.png')

.bgsalmon
  background-color: #F5947A
  border-radius: 0px

.estilo10
  border: 3px solid #F5947A

.estilo15
  border: 3px solid #025157

.bgverdeoscuro
  background-color: #025157
  border-radius: 0px
